{% extends 'base.html' %}

{% block content %}

<h1> All cupcakes!</h1>
<ul id="cupcakes-list"></ul>

<h2> Add Cupcakes! </h2>
<form id="cupacke-add-form" method="POST" action="/api/cupcakes">
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <button type="submit">Submit</button>
</form>

{% endblock %}